Register_start,Register_end,Register_type,Name,Unit,Type,Scaling
1720,1739,i,f,Hz,SINGLE,1
-,,,U_zero,-,SINGLE,1
-,,,U_neg,-,SINGLE,1
-,,,U_pos,-,SINGLE,1
-,,,U_L1N,V,SINGLE,1
-,,,U_L2N,V,SINGLE,1
-,,,U_L3N,V,SINGLE,1
-,,,U_L12,V,SINGLE,1
-,,,U_L23,V,SINGLE,1
-,,,U_L31,V,SINGLE,1
2220,2241,i,cos_phi_L1,-,SINGLE,1
-,,,cos_phi_L2,-,SINGLE,1
-,,,cos_phi_L3,-,SINGLE,1
-,,,cos_phi_tot,-,SINGLE,1
-,,,PF_L1,-,SINGLE,1
-,,,PF_L2,-,SINGLE,1
-,,,PF_L3 ,-,SINGLE,1
-,,,PF_tot,-,SINGLE,1
-,,,THD_U_L1,V,SINGLE,1
-,,,THD_U_L2,V,SINGLE,1
-,,,THD_U_L3,V,SINGLE,1
2500,2569,i,I_L1,A,SINGLE,1
-,,,I_L2,A,SINGLE,1
-,,,I_L3,A,SINGLE,1
-,,,I_tot,A,SINGLE,1
-,,,P_L1,W,SINGLE,1
-,,,P_L2,W,SINGLE,1
-,,,P_L3,W,SINGLE,1
-,,,P_tot,W,SINGLE,1
-,,,Q_L1,var,SINGLE,1
-,,,Q_L2,var,SINGLE,1
-,,,Q_L3,var,SINGLE,1
-,,,Q_tot,var,SINGLE,1
-,,,S_L1,VA,SINGLE,1
-,,,S_L2,VA,SINGLE,1
-,,,S_L3,VA,SINGLE,1
-,,,S_tot,VA,SINGLE,1
-,,,P0_L1,W,SINGLE,1
-,,,P0_L2,W,SINGLE,1
-,,,P0_L3,W,SINGLE,1
-,,,P0_tot,W,SINGLE,1
-,,,D_L1,var,SINGLE,1
-,,,D_L2,var,SINGLE,1
-,,,D_L3,var,SINGLE,1
-,,,D_tot,var,SINGLE,1
-,,,THD_I_L1,%,SINGLE,1
-,,,THD_I_L2,%,SINGLE,1
-,,,THD_I_L3,%,SINGLE,1
-,,,THD_I_tot,%,SINGLE,1
-,,,TDD_I_L1,%,SINGLE,1
-,,,TDD_I_L2,%,SINGLE,1
-,,,TDD_I_L3,%,SINGLE,1
-,,,TDD_I_tot,%,SINGLE,1
-,,,I_zero,-,SINGLE,1
-,,,I_pos,-,SINGLE,1
-,,,I_neg,-,SINGLE,1
19054,19109,i,E_L1,Wh,SINGLE,1
-,,,E_L2,Wh,SINGLE,1
-,,,E_L3,Wh,SINGLE,1
-,,,E_tot,Wh,SINGLE,1
-,,,E_consumed_L1,Wh,SINGLE,1
-,,,E_consumed_L2,Wh,SINGLE,1
-,,,E_consumed_L3,Wh,SINGLE,1
-,,,E_consumed_tot,Wh,SINGLE,1
-,,,E_delivered_L1,Wh,SINGLE,1
-,,,E_delivered_L2,Wh,SINGLE,1
-,,,E_delivered_L3,Wh,SINGLE,1
-,,,E_delivered_tot,Wh,SINGLE,1
-,,,E_apparent_L1,VAh,SINGLE,1
-,,,E_apparent_L2,VAh,SINGLE,1
-,,,E_apparent_L3,VAh,SINGLE,1
-,,,E_apparent_tot,VAh,SINGLE,1
-,,,E_react_L1,varh,SINGLE,1
-,,,E_react_L2,varh,SINGLE,1
-,,,E_react_L3,varh,SINGLE,1
-,,,E_react_tot,varh,SINGLE,1
-,,,E_react_ind_L1,varh,SINGLE,1
-,,,E_react_ind_L2,varh,SINGLE,1
-,,,E_react_ind_L3,varh,SINGLE,1
-,,,E_react_ind_tot,varh,SINGLE,1
-,,,E_react_cap_L1,varh,SINGLE,1
-,,,E_react_cap_L2,varh,SINGLE,1
-,,,E_react_cap_L3,varh,SINGLE,1
-,,,E_react_cap_tot,varh,SINGLE,1
